<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Empresa</display-name>
    <servlet-name>Empresa</servlet-name>
    <servlet-class>Controlador.Empresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Empresa</servlet-name>
    <url-pattern>/Empresa</url-pattern>
  </servlet-mapping>
  <display-name>WebHospital</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>VerResultadoServlet</servlet-name>
    <servlet-class>Controlador.VerResultadoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TrabajadoresEmpresaServlet</servlet-name>
    <servlet-class>Controlador.TrabajadoresEmpresaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginEmpresa</servlet-name>
    <servlet-class>Controlador.LoginEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerResultadoServlet</servlet-name>
    <url-pattern>/VerResultadoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrabajadoresEmpresaServlet</servlet-name>
    <url-pattern>/TrabajadoresEmpresaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginEmpresa</servlet-name>
    <url-pattern>/LoginEmpresa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrabajadorServlet</display-name>
    <servlet-name>TrabajadorServlet</servlet-name>
    <servlet-class>Controlador.TrabajadorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrabajadorServlet</servlet-name>
    <url-pattern>/TrabajadorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GeneralServlet</display-name>
    <servlet-name>GeneralServlet</servlet-name>
    <servlet-class>Controlador.GeneralServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneralServlet</servlet-name>
    <url-pattern>/GeneralServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Controlador.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>